<?xml version="1.0" encoding="UTF-8"?>
<suite name="Playwright Suite" parallel="tests" thread-count="3">
    <test name="Google Input Test">
        <classes>
            <class name="com.example.tests.GoogleSearchTest"/>
        </classes>
    </test>
    <test name="Google Input Test 2">
        <classes>
            <class name="com.example.tests.GoogleSearchTest"/>
        </classes>
    </test>
</suite>